<?xml version="1.0" encoding="utf-8"?>
<dataConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="15.1.8326.0">
	<connectionStrings>
		<add connectionString="data source=DESKTOP-12VUBHU;Integrated Security=SSPI;initial catalog=SitefinityKnowledgeBase" name="Sitefinity" />
	</connectionStrings>
</dataConfig>